<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title> 🌸IRIS SPECIES PREDICTOR 🌸</title>
	<style type="text/css">
		body {
			  background-image: url("/static/image.jpg");
		}
		h1 {
			color: purple;
		}
		
		h2 {
			color: darkblue;
		}
	</style>
	
</head>
<body>
	<div class="login">
		<center><h1>🌸 IRIS SPECIES PREDICTOR🌸</h1></center>
		
		<center>
			<h2>
			<b>WELCOME</b>
				<br>
				
				
			</h2>	
				<h3>Enter the following data to predict the species of Iris.</h3>
			
		</center>
		<br>
		<center>
		<form action="{{url_for('predict')}}" method="post">
			<label><b>
				SEPAL LENGTH:<br></b>
				<input type="number" min=0 step="0.01" name="sepallen" required="required">
			</label>
			<br>
			<br>
			<label>
				<b>SEPAL WIDTH:</b><br>
				<input type="number" min=0 step="0.01" name="sepalwid" required="required">
			</label>
			<br>
			<br>
			<label>
				<b>PETAL LENGTH:</b><br>
				<input type="number" min=0 step="0.01" name="petallen" required="required">
			</label>
			<br>
			<br>
			<label>
				<b>PETAL WIDTH:</b><br>
				<input type="number" min=0 step="0.01" name="petalwid" required="required">
			</label>
			<br>
			<br>
			<button type="submit" class="btn btn-primary btn-block btn-large">PREDICT</button>
		</form>
		<br>
   		<br>
   		<h2 style="font-size:30px">{{ prediction_text }}</h2>
		</center>
	</div>
</body>
</html>

